.icon{
    width: 50px;
    margin-right: 10px;
}

html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffff;
    border-radius: 30px;
}

main{
  flex: 1 0 auto;
}

footer{
  flex: 0 0 auto;
}

.carousel-item{
  background-color: black;
}

.carousel-item img{
  opacity: 0.5;
}


.review{
  border-radius: 50%;
}

.form{
  margin-top: 20px;
}

.flash.ok {
  color: #198754;
  font-weight: bold;
}

.flash.bad {
  color: #dc3545;
  font-weight: bold;
}


.error-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.search::placeholder{
  color: white;
 
}

.cke_notifications_area{
  display: none;
}

.rating-stars {
  display: inline-block;
  direction: rtl;
  unicode-bidi: bidi-override;
}
.rating-stars input {
  display: none;
}
.rating-stars label {
  color: #ccc;
  font-size: 1.5rem;
  padding: 0 2px;
  cursor: pointer;
}
.rating-stars input:checked ~ label,
.rating-stars label:hover,
.rating-stars label:hover ~ label {
  color: #ffc107;
}
.rating-stars input:checked + label:hover,
.rating-stars input:checked ~ label:hover,
.rating-stars label:hover ~ input:checked ~ label,
.rating-stars input:checked ~ label:hover ~ label {
  color: #ffc107;
}

.rating-stars {
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating-stars input {
    display: none;
}
.rating-stars label {
    color: #ccc;
    font-size: 1.5rem;
    padding: 0 2px;
    cursor: pointer;
}
.rating-stars input:checked ~ label,
.rating-stars label:hover,
.rating-stars label:hover ~ label {
    color: #ffc107;
}


.average-rating {
    font-size: 1.5rem;
    line-height: 1;
}

.average-rating span {
    display: inline-block;
    width: 1em;
    text-align: center;
}