{% extends 'base.html' %}
{% block title %}
О нас
{% endblock %}


{% block main %}


    <main>
      <div class="container">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">О нас</li>
          </ol>
        </nav>

        <h1>О нас</h1>
        <p>Добро пожаловать в наш магазин мотоциклов!</p>
        <p>
          Мы — команда увлеченных мотоциклистов и экспертов в области
          мототехники, которые с радостью делятся своей страстью к двум колесам.
          Наша миссия — предоставить каждому клиенту возможность найти идеальный
          мотоцикл, который станет не просто средством передвижения, а настоящим
          спутником в захватывающих приключениях.
        </p>
        <p><b>Наша история</b></p>
        <p>
          Наш магазин был основан с любовью к мотоциклам и желанием создать
          сообщество, где каждый сможет найти поддержку и вдохновение. Мы начали
          свой путь несколько лет назад, и с тех пор наша команда неустанно
          работает над тем, чтобы предложить лучшие модели, аксессуары и услуги
          для мотоциклистов всех уровней — от новичков до опытных райдеров.
        </p>
        <p><b>Что мы предлагаем</b></p>
        <ol>
          <li>
            <b>Широкий ассортимент мотоциклов:</b> Мы предлагаем мотоциклы
            различных марок и моделей — от классических до спортивных, от
            туристических до кроссовых. У нас есть что-то для каждого
          </li>
          <li>
            <b>Профессиональные консультации:</b> Наша команда готова помочь вам
            выбрать мотоцикл, который наилучшим образом соответствует вашим
            потребностям и стилю вождения. Мы знаем, что покупка мотоцикла — это
            важный шаг, и мы сделаем все возможное, чтобы этот процесс был
            комфортным и приятным.
          </li>
          <li>
            <b>Аксессуары и экипировка:</b> Мы предлагаем широкий выбор защитной
            экипировки, шлемов, одежды и аксессуаров, чтобы вы могли не только
            выглядеть стильно, но и чувствовать себя в безопасности на дороге.
          </li>
          <li>
            <b>Сервис и обслуживание:</b> Мы понимаем, как важно поддерживать
            ваш мотоцикл в идеальном состоянии. Наша команда профессионалов
            предлагает услуги по техническому обслуживанию и ремонту, чтобы ваш
            мотоцикл всегда был готов к новым приключениям.
          </li>
        </ol>
        <p><b>Наша философия</b></p>
        <p>
          Мы верим, что мотоцикл — это не просто средство передвижения, а образ
          жизни. Это возможность ощутить свободу, исследовать новые горизонты и
          наслаждаться каждой поездкой. Мы стремимся создать сообщество, где
          мотоциклисты могут обмениваться опытом, делиться историями и находить
          новых друзей.
        </p>
        <p>
          Присоединяйтесь к нам на этом захватывающем пути! Мы рады видеть вас в
          нашем магазине и надеемся, что вместе мы сможем сделать ваши
          мотоциклетные мечты реальностью.
        </p>
      </div>
    </main>

    {% endblock %}
