{% extends 'base.html' %}
{% block title %}
Мотоциклы
{% endblock %}

{% block main %}
{{ ckeditor.load() }}
    <main>
      <div class="container my-3">
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Каталог</li>
          </ol>
        </nav>

        {%if 'name' in session and active_user.root==1%}
    <button
    type="button"
    class="btn btn-dark mb-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Добавить запись
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить запись</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Название</label>
              <input type="text" id="disabledTextInput" class="form-control" name="title" placeholder="Название"
                required>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Категория</label>
              <input type="text" id="disabledTextInput" class="form-control" name="category" placeholder="Категория"
                required>
            </div>

            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Цена руб.</label>
              <input type="number" id="disabledTextInput" class="form-control" name="price" placeholder="Цена"
                required>
            </div>
      
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Изображение</label>
              <input type="file" id="disabledTextInput" name="image" class="form-control" accept=".jpg,.jpeg,.png"
                required>
            </div>
            <div class="mb-3">
              <h3>Содержимое</h3>
              {{ ckeditor.create() }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-dark">Добавить запись</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {%endif%}
  {% with messages = get_flashed_messages(True) %}
  {% if messages %}
  {% for category, message in messages %}
  <p class="m-2 flash {{category}}">{{message}}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}


{%if search%}
  <p class="h3">Результаты поиска по запросу: {{search.replace('%', '').lower()}}</p>
{%endif%}

{%if not articles%}
  <h4>Список пуст!</h4>
{%endif%}
<div class="row g-3">
  <div class="col-md-4 d-none d-md-block">
    <div class="sticky-top pt-3">
      <form action="/catalog" method="get">
        <div class="card bg-secondary bg-opacity-10 p-3 ">
  
          <label for="category" class="form-label">Категории</label>
          <select name="category" id="category" class="form-select">
            <option value="">Все категории</option>
            {% for category in articles_category %}
            <option value="{{ category.category }}" 
                    {% if request.args.get('category') == category.category %}selected{% endif %}>
                {{ category.category }}
            </option>
            {% endfor %}
        </select>
        
        <label for="min_price" class="form-label">Минимальная цена:</label>
        <input type="number" class="form-control" name="min_price" id="min_price" value="{{min_price_placeholder}}" placeholder="{{min_price_placeholder}}">
    
        <label for="max_price" class="form-label">Максимальная цена:</label>
        <input type="number" class="form-control" name="max_price" id="max_price" value="{{max_price_placeholder}}" placeholder="{{max_price_placeholder}}">
          
          <!-- Кнопки -->
          <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-dark btn-sm">Применить</button>
            <a href="/catalog" class="btn btn-outline-danger btn-sm">Сбросить</a>
          </div>
        </div>
      </form>
      
    </div>
  </div>
  <div class="col-md-8 col-12">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-3">
      {% for article in articles %}
      <div class="col">
        <div class="card shadow-sm bg-dark h-100 transition-all hover:shadow-lg">

          <a href="/article/{{article.id}}">
            <img src="../static/img/upload/{{article.image_name}}" 
                 class="card-img-top" 
                 style="height: 180px; object-fit: cover;" 
                 alt="{{article.title}}">
          </a>
          <div class="card-body">
            <h6 class="card-text text-white text-truncate">{{article.title}}</h6>
              <p class="text-white"><small>{{article.category}}</small>  </p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="/article/{{article.id}}" class="btn btn-sm btn-outline-light align-self-center">Подробнее</a>
              <div class="text-end">
                <div class="text-white fw-bold fs-5">{{article.price}} руб.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  

</div>
      </div>
    </main>

    {% endblock %}
