{% extends 'base.html' %}
{% block title %}
MOTOSHOP
{% endblock %}

{% block main %}
    <main>
      <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/img/slide1.jpg" width="100%" alt="" />
            <div class="container">
              <div class="carousel-caption">
                <h1>Адреналин и свобода!</h1>
                <p class="opacity-75">
                  Подчеркивает эмоции и ощущения, которые испытывают
                  мотоциклисты.
                </p>
                <p>
                  <a class="btn btn-lg btn-outline-light" href="/catalog"
                    >Посмотреть предложения</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/img/slide2.jpg" width="100%" alt="" />
            <div class="container">
              <div class="carousel-caption">
                <h1>Свобода. Скорость. Драйв.</h1>
                <p>Кратко и емко передает основные ценности мотоциклистов.</p>
                <p>
                  <a class="btn btn-lg btn-outline-light" href="/catalog"
                    >Посмотреть предложения</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/img/slide3.jpg" width="100%" alt="" />
            <div class="container">
              <div class="carousel-caption">
                <h1>Твой способ самовыражения на дороге.</h1>
                <p>
                  Подходит для тех, кто видит в мотоцикле не просто средство
                  передвижения, а способ показать свою индивидуальность.
                </p>
                <p>
                  <a class="btn btn-lg btn-outline-light" href="/catalog"
                    >Посмотреть предложения</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class=" marketing">
        <div class="container">
          <div class="row featurette my-5">
            <div class="col-md-7 d-flex flex-column justify-content-center">
              <h2 class="featurette-heading fw-normal lh-1">
                Свобода передвижения
              </h2>
              <p class="lead">
                Мотоцикл предоставляет уникальное чувство свободы. Вы можете легко
                перемещаться по городу, избегая пробок и задержек, а также
                отправляться в длительные путешествия по живописным маршрутам.
              </p>
            </div>
            <div class="col-md-5">
              <img src="../static/img/1.jpg" width="100%" alt="" />
            </div>
          </div>
        </div>
       

        <div class="bg-dark">
        <div class="container">
        <div class="row featurette my-5">
          
          <div class="col-md-7 order-md-2 d-flex flex-column justify-content-center">
            <h2 class="featurette-heading fw-normal lh-1 text-white">Экономия топлива</h2>
            <p class="lead text-white">
              Мотоциклы, как правило, более экономичны, чем автомобили. Они
              потребляют меньше топлива, что делает их более выгодным вариантом
              для ежедневных поездок.
            </p>
          </div>
          <div class="col-md-5 order-md-1 ">
            <img src="../static/img/2.jpg" width="100%" alt="" />
          </div>
        </div>
      </div>
    </div>
       
<div class="container">
  <div class="row featurette my-5">
    <div class="col-md-7 d-flex flex-column justify-content-center">
      <h2 class="featurette-heading fw-normal lh-1 ">
        Низкие эксплуатационные расходы
      </h2>
      <p class="lead ">
        Обслуживание и страхование мотоцикла обычно обходятся дешевле, чем
        у автомобиля. Это позволяет сэкономить на расходах.
      </p>
    </div>
    <div class="col-md-5">
      <img src="../static/img/3.jpg" width="100%" alt="" />
    </div>
  </div>
</div>
       

      </div>
        <!-- Three columns of text below the carousel -->
         <div class="bg-dark">
            <div class="container">
              <div class="row my-5 text-center">
                <h2 class="my-3">Отзывы наших клиентов</h2>
                <div class="col-lg-4">
                  <img src="../static/img/review1.jpg" class="review" width="140" alt="" />
      
                  <h2 class="fw-normal text-white">Анастасия</h2>
                  <p class="text-white">Мотоцикл был доставлен в срок, причем быстрее, чем ожидала!)</p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <img src="../static/img/review2.jpg" class="review" width="140" alt="" />
                  <h2 class="fw-normal text-white">Сергей</h2>
                  <p class="text-white">
                    Вежливое и внимательное отношение сотрудников, которые всегда
                    готовы ответить на вопросы и помочь с выбором.
                  </p>
                </div>
      
                <div class="col-lg-4">
                  <img src="../static/img/review3.jpg" class="review" width="140" alt="" />
                  <h2 class="fw-normal text-white">Максим</h2>
                  <p class="text-white">
                    Хочу подчеркнуть профессионализм команды, которая работает честно
                    и четко.
                  </p>
                </div>
              </div>
            </div>
         </div>
      
      

      <div class="container">
        <h2 class="text-center my-5">Популярные товары</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
{%for article in random_articles%}
<div class="col">
  <div class="card shadow-sm bg-dark">
    <a href="/article/{{article.id}}">
      <img src="../static/img/upload/{{article.image_name}}" width="100%" alt="" />
    </a>

    <div class="card-body">
      <p class="card-text text-white">{{article.title}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a
            href="/article/{{article.id}}"
            class="btn btn-sm btn-outline-light"
            >Просмотр</a
          >
        </div>
        <small class="text-body-white text-white">{{article.price}} руб.</small>
      </div>
    </div>
  </div>
</div>
{%endfor%}

        </div>
        <div class="text-end my-3">
          <a href="/catalog" class="btn btn-outline-dark"
            >Смотреть все предложения</a
          >
        </div>
      </div>
    </main>
    {% endblock %}